body{
    background-color: rgba(0, 0, 0, 0.850);
}

#inset{
    border-radius: 9px;
    margin: auto;
    width: 70%;
    background-color: whitesmoke;
}
h1{
    background-color: darkred;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 60px;
    line-height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
h2{
    text-align: center;
}
#title{
    width: 40%;
    height: 30px;
    display: block;
    margin: auto;
    text-align: center;
}
input, textarea{
    font-size: 24px;
}
#inputs, h3{
    margin: 10px;
}
#inputs input{
    width: 40%;
}
button{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial;
    border-radius: 3px;
    border-style: none;
    background-color: darkred;
    color: white;
}
button:hover{
    background-color: teal;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

@media screen and (max-width: 55em){
    #inset{
        width: 99%;
    }
    #title{
        width: 70%;
    }
    #inputs input{
        width: 60%;
    }

}
